
  <%= devise_error_messages! %>

   <div><%= f.label :first_name %><br />
  <%= f.text_field :firstname, :validate => true, autofocus: true %></div>

   <div><%= f.label :last_name %><br />
  <%= f.text_field :lastname,:validate => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

   <div><%= f.label :user_name %><br />
  <%= f.text_field :username %></div>

   <div><%= f.label :country %><br />
  <%= f.country_select :country, {object: f.object, prompt: 'Country'} %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  <div><%= o.label :timezone %><br />
  <%= o.time_zone_select :time_zone, /Chennai/, :default => "UTC" %>
  </div>
