<h3>Predictions</h3>

<table class="table">
  <% @predictions.each do |prediction| %>
    <tr>
      <td> 
        <b><i><%= Club.find(Match.find(prediction.match_id).club_1_id).club_name %></b></i>
      </td>
      <td class="success"> 
        <b><i><%= prediction.club1_predicted_score %></b></i> 
      </td>
      <td>
        <b>-</b>
      </td>
      <td class="success">
        <b><i><%= prediction.club2_predicted_score %></b></i>
      </td>
      <td>
        <b><i><%= Club.find(Match.find(prediction.match_id).club_2_id).club_name %></b></i>
      </td>
      <td>
        <b><%= I18n.l Match.find(prediction.match_id).match_date %></b>
      </td>
      <td>
        <b><%= I18n.l Match.find(prediction.match_id).match_time %></b>
      </td>
    </tr>
  <% end %>
</table>
