<% round_id = params[:round_id] %>
<% round = Round.find_by_id(round_id) || @league.upcoming_round %>
<div class='message'> <%= params[:notice] %> </div> <br />
<table class="table" border=0>
  <% if @matches.blank? || round.blank? %>
    <tr><td>No matches found.</td></tr>
  <% else %>
  <tr>
    <th align="left"><%= link_to "Previous", matches_index_path(:round_id => round.try(:previous_round).try(:id), :league_id => @league.id)%></th>
    <th colspan=3><center><%= round.round_name %></center></th>
    <th align="right"><%= link_to "Next", matches_index_path(:round_id => round.try(:next_round).try(:id), :league_id => @league.id) %></th>
  </tr>
    <% @matches.each do |match| %>
      <% prediction = match.user_prediction(current_user) || @prediction %>
      <%= form_for(prediction ) do |f| %>
        <%= hidden_field_tag(:round_id,  round_id) %>
        <%= f.hidden_field(:match_id, :value => match.id) %>
        <%= f.hidden_field(:selected_league_id , :value => @selected_league.id) %>
        <tr>
          <td class= "success" colspan=5>
            <i> <%= l match.start_time %>  </i>
          </td>
        </tr>
        <tr>
          <td>
            <%= match.club_1.club_name %>
          </td>
          <td>
            <%= f.number_field(:club1_predicted_score, {in: 0..20, step: 1}) %>
          </td>
          <td>
            <%= f.number_field(:club2_predicted_score, {in: 0..20, step: 1}) %>
          </td>
          <td>
            <%= match.club_2.club_name %>
          </td>
          <td>
            <%= f.submit %>
          </td>
        </tr>

      <% end %>
    <% end %>
  <% end %>

</table>
