<h1>Matches</h1>
<table>	
   <% @matches.each do |match| %>
  <tr>
  	<td> <b><%= Club.find(match.club_1_id).club_name %> Vs <%= Club.find(match.club_2_id).club_name %> </br> <i> <%= I18n.l match.match_date %> </br>  <%= I18n.l match.match_time %> </b></i>
  	</td>
  </tr>
<% end %>
</table>

	<%= link_to 'Log out', destroy_user_session_path, method: :delete %>